{% extends 'quiz/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'quizmaster:quiz_change_list' %}">My Quizzes</a></li>
      <li class="breadcrumb-item"><a href="{% url 'quizmaster:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new question</li>
    </ol>
  </nav>
  <h2 class="mb-3">Select type of question</h2>
  <form method="post" novalidate>
    {% csrf_token %}

    <!-- <div class="form-group">
        <div class="col-sm-10">
            <select id="question_type" name="question_type" class="form-control">
                <option value="" selected>Please select a question type</option>
                {% for option in options %}
                <option value="{{ option.option_id }}">{{ option.option_name }}</option>
                {% endfor %}
            </select>    
        </div>
    </div> -->

    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Next</button>
    <a href="{% url 'quizmaster:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
{% endblock %}
